
<ion-content fullscreen>
  <ion-title>
    Chat
  </ion-title>

  <div id="list">
    <ion-list>
      <ion-list-header>
        Recent Conversations
      </ion-list-header>

      <ion-item lines="none" *ngFor="let number of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <img src="/assets/images/profile.jpg">
        </ion-avatar>
        <ion-label >
          <h2>Twanny Tad doughnuts</h2>
          <p>HAWN TAD DOUGHNUTS, SĦAN U TAJBIN !!!</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Recent Conversations
      </ion-list-header>

      <ion-item lines="none" *ngFor="let number of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <img src="/assets/images/profile2.png">
        </ion-avatar>
        <ion-label >
          <h2>Guzi Tal Hobz</h2>
          <p>taaaaAAAaaaaAAaaalL ĦooOBbŻŻŻ !!!</p>
        </ion-label>
      </ion-item>
    </ion-list>
</div>
</ion-content>