
<ion-content fullscreen>
  <ion-title>
    Chat
  </ion-title>

  <div id="list">
    <ion-list>
      <ion-list-header>
        Recent Conversations
      </ion-list-header>

      <ion-item lines="none" *ngFor="let number of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <img src="/assets/images/profile1.jpg">
        </ion-avatar>
        <ion-label>
          <h2>John</h2>
          <p>Hey man ! Have you completed the assignment that was due for today ? </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        More Conversations
      </ion-list-header>

      <ion-item lines="none" *ngFor="let number of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <img src="/assets/images/profile2.jpg">
        </ion-avatar>
        <ion-label >
          <h2>Deborah</h2>
          <p>Just a reminder that we have a meeting in about 30 minutes time !</p>
        </ion-label>
      </ion-item>
    </ion-list>
</div>
</ion-content>