ion-title{
    height: 35px;
    width: 100%;
    padding: 28px 0 0 0;
    margin: 0;
    font-size: 22px;
}
h2{
    font-weight: bold;
}

#list{       
    margin-top: 58px;

}

ion-content{
    --ion-background-color:#EEF2F5;
}