
#categories{    
    
    ion-card{
        background-color: red;
        margin:1rem 0 1rem 0;
        height: 12.3rem;
    }
    ion-icon{
        padding: 1rem;
        font-size: 2rem;
        border-radius: 1.5rem;
    }   
    
    ion-card-content{        
        padding:.1rem 0 .1rem 0;

        ion-card-title{
            font-size: 1.2rem;
        }  
    }

    #today,#home{      
        height:10rem; 
        background-color: #eb9a3a;
        ion-icon{
            color: #eb9a3a;
            background-color: #F6C731;
        }
    }

}


    
ion-card-title { text-transform: capitalize; }


