<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome (user) (date)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Gamification-->
  <div id="gamificationBox"> 
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col>
                  <h5>Streak</h5>
                  <h2>10 Days</h2>
                </ion-col>
              </ion-row>
    
              <ion-row>
                <ion-col>
                  <h5>Tasks Done</h5>
                  <h2>2 Tasks</h2>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col>
              circle
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h5>Day</h5>
              <ion-progress-bar value="0.5"></ion-progress-bar>
              <h5>Day</h5>
            </ion-col>

            <ion-col>
              <h5>Day</h5>
              <ion-progress-bar value="0.5"></ion-progress-bar>
              <h5>Day</h5>
            </ion-col>

            <ion-col>
              <h5>Day</h5>
              <ion-progress-bar value="0.5"></ion-progress-bar>
              <h5>Day</h5>
            </ion-col>

          </ion-row>
          
        </ion-grid>  
      
      </ion-card-content>
    </ion-card>

    <div id=""></div>
  </div>

  <!--categories-->
<div id="categories">
  <ion-card>
    <ion-card-content>
      <ion-slides pager="true" [options]="slideOpts">
        <!--Today-->
        <ion-slide>
            <ion-card id="today">
              <ion-card-header>
                <ion-icon name="Today"></ion-icon>
              </ion-card-header>
    
              <ion-card-content>
                <ion-card-title>Today</ion-card-title>
                <ion-card-subtitle>5/10 completed</ion-card-subtitle>
              </ion-card-content>
            </ion-card>               
          </ion-slide>

          <!--categories-->
        <ion-slide *ngFor="let category of categories; let i = index">      

          <ion-card (click)="chooseCategory(i); totalTasksComplete()" [ngClass]="{ 'active': i == categoryIndex }">
            <ion-card-header>
              <ion-icon name="Today"></ion-icon>
            </ion-card-header>
  
            <ion-card-content>
              <ion-card-title>{{ category.name }}</ion-card-title>
              <ion-card-subtitle>{{totalComplete}} / {{currentTasks.length}} completed </ion-card-subtitle>
            </ion-card-content>
          </ion-card>

      </ion-slide>  
    </ion-slides>

    </ion-card-content>
  </ion-card>
</div>

  <!--Task List-->
  <!--School-->
  <div  id="taskList">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item-sliding *ngFor="let currentTask of currentTasks">         
            <ion-item>
              <ion-checkbox [(ngModel)]="currentTask.complete" (ionChange)="updateCheckbox(currentTask)"></ion-checkbox>
              <ion-label>{{currentTask.name}}</ion-label>
              <h4>{{currentTask.endDate | date:'dd MMM YYYY, HH:mm' }}</h4>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>


</ion-content>