
ion-card-title { text-transform: capitalize; }

#eachCategory{
        ion-icon{
            padding: 1rem;
            font-size: 2rem;
            border-radius: 1.5rem;
        }  
    }

    #today{              
        background-color: #eb9a3a;
        ion-icon{
            padding: 1rem;
            font-size: 2rem;
            border-radius: 1.5rem;
            color: #eb9a3a;
            background-color: #F6C731;
        }
    }



