ion-title{
    height: 35px;
    width: 100%;
    padding: 28px 0 0 0;
    margin: 0;
    font-size: 22px;
}

#listName{
    padding-bottom: 1rem;
}

#startTime{
    padding:1rem 0 1rem 0;
}

ion-button {
    padding: 0;
    margin: 0;
}

.inputArea{
    margin-top: 58px;
    width: 100%;

    ion-label{
        padding-top: .3rem;
    }
}

#taskInputArea{
    h2{
        margin-top: 45px;
        margin-bottom:32px;
    }

    #saveButton{
        ion-button{
            margin-top: 160px;
        }
    }

    margin-top: 0px;
    width: 100%;

    ion-label{
        padding-top: .3rem;
    }

    ion-button{
        margin-top: 12px;
    }
}

ion-slides{
    min-height: 100%;
}

#eachCategory {

    ion-card{
        margin: 6px;
        ion-card-title{
            font-size: 18px;
        }

        ion-card-content{
            ion-card-title{
                padding-top: 5px;
            }

            ion-card-subtitle{
                color: black;
            }
        }
        
        ion-icon{
            padding: 1rem;
            font-size: 2rem;
            border-radius: 1.5rem;
            color: #189BE6;
            background-color: #EEF2F5;
        }  
        
    }
}

#eachCategory :active {
    background-color: #189BE6;

    ion-icon{
        padding: 1rem;
        font-size: 2rem;
        border-radius: 1.5rem;
        color: #189BE6;
        background-color: #EEF2F5;
    }

    ion-card-content{
        ion-card-subtitle{
            color: #EEF2F5;
        }
    }
}
