#listName{
    padding-bottom: 1rem;
}

#startTime{
    padding:1rem 0 1rem 0;
}


.inputArea{
    padding-top: 1rem;

    ion-label{
        padding-top: .3rem;
    }
}

ion-button {
    padding: 0;
    margin: 0;
}

.inputArea{
    padding:0 2rem 0 .5rem;
    width: 100%;
}

ion-slides{
    min-height: 100%;
}

