<ion-content [fullscreen]="true">
 
  <!--input area-->
  <ion-slides  #slides>

    <!--Category-->
    <ion-slide >  
      <ion-title>
        Choose Category
      </ion-title>

      <div class="inputArea">
        <ion-radio-group value="#">
          <ion-grid>
            <ion-row >
              <ion-col id="eachCategory" size="6" *ngFor="let category of categories; let i = index">
                <ion-card value="home" id="home" (click)="chooseCategory(i)">
                  <ion-card-header>
                    <ion-icon name="{{category.icon}}"></ion-icon>
                  </ion-card-header>      
                  <ion-card-content>
                    <ion-card-title>{{category.name}}</ion-card-title>
                    <ion-card-subtitle>5/10 completed</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
      </div>
    </ion-slide>
    
    <!--list details-->    
    <ion-slide>
      <div id="taskInputArea">
      
      <ion-toolbar>
        <ion-title>
          Profile
        </ion-title>
        
        <!--popover menu-->
        <ion-buttons slot="start" (click)="changeSlide()">
          <ion-button>
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

        <ion-item id="listName">
          <ion-label position="floating">Enter Task Name</ion-label>
          <ion-input clearInput [(ngModel)]="item.name"></ion-input>
        </ion-item>

        <h2>Choose Date & Time</h2>

        <!--drop down-->
        <div>
          <!--end date-->
          <ion-item>
            <ion-label>End Date</ion-label>
            <ion-datetime [(ngModel)]="item.endDate" value="1990-02-20" placeholder="Select Date"></ion-datetime>
          </ion-item>

          <!--time-->
          <ion-item id="startTime">
            <ion-label>End Time</ion-label>
            <ion-datetime [(ngModel)]="item.endTime" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
          </ion-item>

          <!--reminder-->
          <ion-item>
            <ion-label>Reminder</ion-label>
            <ion-select [(ngModel)]="item.reminder" value="notifications" interface="action-sheet">
              <ion-select-option value="enable">30 minutes</ion-select-option>
              <ion-select-option value="1">1 hour</ion-select-option>
              <ion-select-option value="2">2 Hours</ion-select-option>
              <ion-select-option value="5">5 Hours</ion-select-option>
            </ion-select>
          </ion-item>      
        </div>

          
        <section class="full-width">
          
          <ion-button (click)="save()" expand="full" color="secondary">Save</ion-button>
        </section>

      </div>
    </ion-slide>

  </ion-slides>  
</ion-content>

